/*--VARIABLE--*/
:root{
    --spacing:50em;
}

/*--SERIES--*/
.series-wrapper {
    display: flex;
    height: 65em;
    z-index: 0;
}

.series-wrapper ul {
    list-style: none;

}

.heji-series {
    position: relative;
    width: 50%;
    margin-right: 2em;
    padding-right: 1em;
    z-index: 20;
}

.honda-series {
    width: 50%;
    position: relative;
    z-index: 1;
}

/*--SERIES TITLE--*/
.series-title{
    font-size: 3em;
    font-weight: bold;
}

.honda-series-contents > .series-title {
    text-align: right;
}

.series-title::after{
    content: " 編";
    font-size: 0.8em;
    font-weight: normal;
}

/*--EPISODE--*/
.episode {
    padding: 1em 0;
}

.episode a{
    text-decoration: none;
    color: var(--TEXTcolor);
}

.null {
    height: var(--spacing);
}

.episode-title-wrapper {
    padding-bottom: 1em;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 5em 1fr;
}

.episode-title-wrapper .no {
    grid-column: 1;
    grid-row: 1;
    font-size: 4.2em;
    font-weight: bold;
    line-height: 1em;
}

.episode-title-wrapper .title {
    grid-column: 2;
    grid-row: 1;
    padding-left: 0.5em;
    font-size: 1.7em;
    font-weight: bold;
    line-height: 1.2em;
}

.honda-series .episode-title-wrapper .title {
    font-size: 2.8em;
    line-height: 1.6em;
}

.lyric {
    width: 100%;
    padding: 0.5em 0 2em 0;
    font-size: 0.6em;
}

.episode-part {
    width: auto;
    border: solid 1px;
    padding: 0.3em;
}

.heji-series-contents li.episode a:hover {
    -webkit-animation: heji-fade 1s 1;
    -moz-animation: heji-fade 1s 1;
}

@-webkit-keyframes heji-fade {
    0% { color: var(--HEJIcolor);}
    100% { color: var(--TEXTcolor); }
}
@-moz-keyframes heji-fade {
    0% { color: var(--HEJIcolor); }
    100% { color: var(--TEXTcolor); }
}

.honda-series-contents li.episode a:hover {
    -webkit-animation: honda-fade 1s 1;
    -moz-animation: honda-fade 1s 1;
}

@-webkit-keyframes honda-fade {
    0% { color: var(--HONDAcolor);}
    100% { color: var(--TEXTcolor);}
}
@-moz-keyframes honda-fade {
    0% { color: var(--HONDAcolor);}
    100% { color: var(--TEXTcolor);}
}

/*--TIMELINE--*/
.heji-series-background {
    width: 100%;
    height: 35.5em;
    border-right: solid 4px;
    border-right-color: var(--HEJIcolor);
}

.heji-series-contents {
    position: absolute;
    top: 0;
}

.honda-series-background {
    width: 100%;
    height: calc(var(--spacing) + 8em);
    border-left: solid 4px;
    border-left-color: var(--HONDAcolor);
}

.honda-series-contents {
    position: absolute;
    width: 100%;
    top: 0;
}

.gradation {
    position: absolute;
    top: 0;
    height: 5em;
    width: 2em;
    background: -webkit-gradient(top, var(--CARDcolor), transparent);
    background: -moz-linear-gradient(top, var(--CARDcolor), transparent);
    background: linear-gradient(to bottom, var(--CARDcolor), rgba(255,255,255,0));
}

.heji-series > .gradation {
    right: 0;
}

.episode::before{
    content: "●";
    font-size: 3.5em;
    position: absolute;
}

.heji-series .episode::before {
    left: 5.83em;
    color: var(--HEJIcolor);
}

.honda-series .episode::before {
    left: -0.27em;
    color: var(--HONDAcolor);
}


/*--SMARTPHONE--*/
@media (max-width:740px) {
    
    /*--SERIES--*/
    .series-wrapper {
        display: block;
        margin: 0 auto;
        position: relative;
        justify-content: center;
        height: 65em;
    }
    
    .series-title::after{
        content: " 編";
        font-size: 0.6em;
    }
    
    .heji-series {
        position: absolute;
        width: 100%;
        margin-left: 1.5em;
    }
    
    .honda-series {
        width: 100%;
    }
    
    .heji-series-contents > .series-title {
        
        padding-left: 0.5em;
    }

    .honda-series-contents > .series-title {
        padding-left: 1em;
        text-align: left;
    }
    
    .honda-series-contents {
        top: var(--spacing);
    }
    
    .heji-series > .gradation {
        left: 0;
    }

    /*--EPISODE--*/
    .episode-title-wrapper {
        padding-bottom: 1em;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 4.8em 1fr;
    }
    
    .episode-title-wrapper .title {
        grid-column: 2;
        grid-row: 1;
        padding-left: 0.5em;
        font-size: 1.4em;
        font-weight: bold;
        line-height: 1.5em;
    }
    
    .honda-series .episode{
        padding-left:1em;
    }
    
    .null {
        display: none;
    }

    /*--TIMELINE--*/
    .heji-series-background {
        border-right: none;
        border-left: solid 4px;
        border-left-color: var(--HEJIcolor);
    }

    .heji-series .episode::before {
        left: -0.27em;
    }

    .honda-series .episode::before {
        position: absolute;
        left: -0.28em;
    }
    
}
