/*--GOODS--*/
.goods {
    display: flex;
}

.goods > .goods-img {
    width: 60%;
    padding-right: 1em;
}

.goods > .goods-caption {
    width: 40%;
}

.goods > .goods-caption h3 {
    margin: 0 0 0.5em 0;
}

@media screen and (max-width:640px) {
    .goods {
        display: block;
    }

    .goods > .goods-img {
        width: 100%;
    }

    .goods > .goods-caption {
        width: 100%;
    }
}

/*--GOODS INFORMATION--*/
.spec {
    margin: 0.5em 0 1em 0;
}

.spec tr {}

.spec th {
    padding: 0 1em;
    text-align: left;
    vertical-align: top;
    white-space: nowrap;
}

.spec td {}

/*--PRICE--*/
.price {
    padding: 0.4em 0;
    
    font-size:1.2em;
    color: var(--HEJIcolor);
    font-weight: bold;
}

/*--CART BUTTON--*/
button {
    padding: 0.3em 1em 0.2em 1em;
    margin: 1em 0;

    border: solid 1px;
    border-color: var(--HEJIcolor);
    background-color: var(--HEJIcolor);

    color: #FFF;
    font-size: 14px;
    font-weight: bold;
}

button:hover {
    background-color: #FFF;
    color: var(--HEJIcolor);
    transition: all 0.2s;
}
