<!DOCTYPE html>
<html lang="ja">

<head>
    <!-- Info -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FANG</title>
    <meta name="description" content="超能力×裏バイト×BL FANG公式サイト">

    <!-- Favicon -->
    <link rel="icon" type="image/vnd.microsoft.icon" href="favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon-180x180.png">

    <link rel=”icon” type=”image/png” sizes=”192×192″ href=”favicon/android-chrome-192x192.png”>
    <meta name=”theme-color” content=”#000″>

    <meta name=”msapplication-config” content=”browserconfig.xml”>
    <meta name=”msapplication-TileColor” content=”#ffffff”>
    <meta name=”msapplication-TileImage” content=”favicon/mstile-144×144.png”>
    <link rel=”mask-icon” href=”favicon/favicon.svg” color=”#000″>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="FANG">
    <link rel="apple-touch-icon" href="favicon/android-chrome-192x192.png">

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="FANG">
    <meta itemprop="description" content="超能力×裏バイト×BL FANG公式サイト">
    <meta itemprop="image" content="https://fang-sptempagency.web.app/img/FANG-icon.png">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://fang-sptempagency.web.app/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="特殊人材派遣会社FANG">
    <meta property="og:description" content="超能力×裏バイト×BL FANG公式サイト">
    <meta property="og:image" content="https://fang-sptempagency.web.app/img/FANG-icon.png">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="FANG">
    <meta name="twitter:description" content="超能力×裏バイト×BL FANG公式サイト">
    <meta name="twitter:image" content="https://fang-sptempagency.web.app/img/FANG-icon.png">

    {% block head %}{% endblock %}
</head>
<header>
    <nav>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/#">Episode</a></li>
            <li><a href="/photo">Photo</a></li>
            <li><a href="/report">Report</a></li>
            <li><a href="https://fang.booth.pm/">Store</a></li>
          </ul>
    </nav>
</header>

<body>
    {% block body %}{% endblock %}
</body>

<footer>
    Copy right &copy; 2020 ink. All rights reserved.
</footer>
</html>