{% extends 'base.html' %}
{% block head %}
<!-- Style -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" href="../../style/main.css">
<link rel="stylesheet" href="../../style/episode.css">

<script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>
{% endblock %}
{% block body %}
    <div id="wrapper-episode">
        <main>
            <article>
                <h1>#1-1 OPEN da DOOR</h1>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col cover">
                            <img src="static/1-1/001.png" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 order-md-2">
                            <img class="lazyload" src="static/1-1/002.png" alt="">
                        </div>
                        <div class="col-md-6 order-md-1">
                            <img class="lazyload" src="static/1-1/003.png" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 order-md-2">
                            <img class="lazyload" src="static/1-1/004.png" alt="">
                        </div>
                        <div class="col-md-6 order-md-1">
                            <img class="lazyload" src="static/1-1/005.png" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 order-md-2">
                            <img class="lazyload" src="static/1-1/006.png" alt="">
                        </div>
                        <div class="col-md-6 order-md-1">
                            <img class="lazyload" src="static/1-1/007.png" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 order-md-2">
                            <img class="lazyload" src="static/1-1/008.png" alt="">
                        </div>
                        <div class="col-md-6 order-md-1">
                            <img class="lazyload" src="static/1-1/009.png" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 order-md-2">
                            <img class="lazyload" src="static/1-1/010.png" alt="">
                        </div>
                        <div class="col-md-6 order-md-1">
                            <img class="lazyload" src="static/1-1/011.png" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 order-md-2">
                            <img class="lazyload" src="static/1-1/012.png" alt="">
                        </div>
                        <div class="col-md-6 order-md-1">
                            <img class="lazyload" src="static/1-1/013.png" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 order-md-2">
                            <img class="lazyload" src="static/1-1/014.png" alt="">
                        </div>
                        <div class="col-md-6 order-md-1">
                            <img class="lazyload" src="static/1-1/015.png" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 order-md-2">
                            <img class="lazyload" src="static/1-1/016.png" alt="">
                        </div>
                        <div class="col-md-6 order-md-1">
                            <img class="lazyload" src="static/1-1/017.png" alt="">
                        </div>
                    </div>
                </div>
                <div id="wrapper-backmatter">
                    <div id="next-episode">
                        <a href="heji1-2.html">
                            <div class="next-heji">次のエピソードへ</div>
                        </a>
                    </div>
                    <div id="colophon">
                        2018/12/31 Pixiv, PictBLand rev.1<br>
                        2019/03/31 Pixiv, PictBLand rev.2<br>
                        2019/06/01 FANG:HEJI Nobunaga vol.1 rev.2<br>
                        2019/08/19 FANG Official Site rev.3<br>
                        2019/09/25 FANG Official Site rev.3
                    </div>
                </div>
            </article>
        </main>
    </div>
{% endblock %}