{% extends 'base.html' %}
{% block head %}
<!-- Style -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" href="../../style/main.css">
<link rel="stylesheet" href="../../style/episode.css">

<script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>
{% endblock %}
{% block body %}
    <div id="wrapper-episode">
        <main>
            <article>
                <h1>#3-3 DON'T ENTER da TERRITORY</h1>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col cover">
                            <img src="3-3/001.png" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 order-md-2">
                            <img class="lazyload" src="3-3/002.png" alt="">
                        </div>
                        <div class="col-md-6 order-md-1">
                            <img class="lazyload" src="3-3/003.png" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col spread">
                            <img class="lazyload" src="3-3/004.png" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 order-md-2">
                            <img class="lazyload" src="3-3/005.png" alt="">
                        </div>
                        <div class="col-md-6 order-md-1">
                            <img class="lazyload" src="3-3/006.png" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 order-md-2">
                            <img class="lazyload" src="3-3/007.png" alt="">
                        </div>
                        <div class="col-md-6 order-md-1">
                            <img class="lazyload" src="3-3/008.png" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 order-md-2">
                            <img class="lazyload" src="3-3/009.png" alt="">
                        </div>
                        <div class="col-md-6 order-md-1">
                            <img class="lazyload" src="3-3/010.png" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col spread">
                            <img class="lazyload" src="3-3/011.png" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 order-md-2">
                            <img class="lazyload" src="3-3/012.png" alt="">
                        </div>
                        <div class="col-md-6 order-md-1">
                            <img class="lazyload" src="3-3/013.png" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 order-md-2">
                            <img class="lazyload" src="3-3/014.png" alt="">
                        </div>
                        <div class="col-md-6 order-md-1">
                            <img class="lazyload" src="3-3/015.png" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 order-md-2">
                            <img class="lazyload" src="3-3/016.png" alt="">
                        </div>
                        <div class="col-md-6 order-md-1">
                            <img class="lazyload" src="3-3/017.png" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 order-md-2">
                            <img class="lazyload" src="3-3/018.png" alt="">
                        </div>
                        <div class="col-md-6 order-md-1">
                            <img class="lazyload" src="3-3/019.png" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col spread">
                            <img class="lazyload" src="3-3/020.png" alt="">
                        </div>
                    </div>
                </div>
                <div id="wrapper-backmatter">
                    <div id="next-episode">
                        <a href="heji4.html">
                            <div class="next-heji">次のエピソードへ</div>
                        </a>
                    </div>
                    <div id="colophon">
                        2019.10.27　FANG Official Site rev.1<br>
                        2019.11.09　FANG Official Site, Pixiv, PictBLand rev.2<br>
                    </div>
                </div>
            </article>
        </main>
    </div>
    {% endblock %}