{% extends 'base.html' %}
{% block head %}
<!-- Style -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" href="../../style/main.css">
<link rel="stylesheet" href="../../style/episode.css">

<script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>
{% endblock %}
{% block body %}
    <div id="wrapper-episode">
        <main>
            <article>
                <h1>#5 Trapped Teleporter</h1>
                <div class="card mt-5 bg-danger text-center mb-5">
                  <div class="card-body">
                    このエピソードには残酷な描写を含みます。
                  </div>
                </div>
                <div class="container-fluid">
                   <div class="row">
                        <div class="col cover">
                            <img src="5/001.png" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col cover">
                            <img class="lazyload" src="5/002.png" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 order-md-2">
                            <img class="lazyload" src="5/003.png" alt="">
                        </div>
                        <div class="col-md-6 order-md-1">
                            <img class="lazyload" src="5/004.png" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 order-md-2">
                            <img class="lazyload" src="5/005.png" alt="">
                        </div>
                        <div class="col-md-6 order-md-1">
                            <img class="lazyload" src="5/006.png" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 order-md-2">
                            <img class="lazyload" src="5/007.png" alt="">
                        </div>
                        <div class="col-md-6 order-md-1">
                            <img class="lazyload" src="5/008.png" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 order-md-2">
                            <img class="lazyload" src="5/009.png" alt="">
                        </div>
                        <div class="col-md-6 order-md-1">
                            <img class="lazyload" src="5/010.png" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 order-md-2">
                            <img class="lazyload" src="5/011.png" alt="">
                        </div>
                        <div class="col-md-6 order-md-1">
                            <img class="lazyload" src="5/012.png" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col spread">
                            <img class="lazyload" src="5/013.png" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 order-md-2">
                            <img class="lazyload" src="5/014.png" alt="">
                        </div>
                        <div class="col-md-6 order-md-1">
                            <img class="lazyload" src="5/015.png" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 order-md-2">
                            <img class="lazyload" src="5/016.png" alt="">
                        </div>
                        <div class="col-md-6 order-md-1">
                            <img class="lazyload" src="5/017.png" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 order-md-2">
                            <img class="lazyload" src="5/018.png" alt="">
                        </div>
                        <div class="col-md-6 order-md-1">
                            <img class="lazyload" src="5/019.png" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 order-md-2">
                            <img class="lazyload" src="5/020.png" alt="">
                        </div>
                        <div class="col-md-6 order-md-1">
                            <img class="lazyload" src="5/021.png" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 order-md-2">
                            <img class="lazyload" src="5/022.png" alt="">
                        </div>
                        <div class="col-md-6 order-md-1">
                            <img class="lazyload" src="5/023.png" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col cover">
                            <img class="lazyload" src="5/024.png" alt="">
                        </div>
                    </div>
                </div>
                <div id="wrapper-backmatter">
                    <div id="next-episode">
                        <div class="next-inprogress">つづく</div>
                    </div>
                    <div id="colophon">
                        <div class="notice">
                            2020.06.07　FANG Official Site, Pixiv, PictBLand rev.1<br>
                            <br>
                            <br>
                            ver.2<br>
                            2023.07.09　FANG Official Site, Pixiv, PictBLand rev.2<br>
                        </div>
                    </div>
                </div>
            </article>
        </main>
    </div>
    {% endblock %}